# Project specific
*.o
sscep
.idea
Makefile
cmake-build-debug/

# vim
*.swp
/tags

# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
